<div
  class=" flex flex-col p-8 2xl:p-12 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 bg-zinc-100 dark:bg-zinc-900 shadow-xl dark:shadow-dark ">
  <div class="relative p-8 2xl:p-12 text-center w-full">
    <p class="text-xl font-medium text-zinc-950 dark:text-zinc-100 lg:text-6xl">
      Subscribe to my newsletter
    </p>
    <form class="mt-6 sm:flex w-full lg:max-w-lg mx-auto">
      <label
        for="email-address"
        class="sr-only"
        >Email address</label
      >
      <input
        type="email"
        name="email-address"
        id="email-address"
        autocomplete="email"
        required=""
        class="block w-full h-12 2xl:h-16 px-4 py-2 text-sm text-zinc-500 bg-zinc-100 dark:bg-zinc-800 ring-1 dark:ring-zinc-800 rounded-lg ring-zinc-300 border-transparent appearance-none focus:ring-zinc-50 placeholder-zinc-400 focus:border-zinc-300 dark:focus:bg-zinc-950 focus:outline-none focus:ring-zinc-200 sm:text-sm ring-transparent"
        placeholder="Enter your email"
      />
      <div class="mt-4 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
        <button
          type="submit"
          class="text-sm py-2 w-full px-4 h-12 2xl:h-16 2xl:px-6 font-semibold focus:ring-2 rounded-lg bg-zinc-950 dark:bg-zinc-100 dark:text-zinc-950 dark:hover:text-zinc-100 hover:text-zinc-950 dark:hover:bg-zinc-100/5 hover:bg-zinc-950/10 text-zinc-100 flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
          >Subscribe</button
        >
      </div>
    </form>
  </div>
</div>
