---
import { Image } from "astro:assets";
import Oxbow from "../../images/oxbow.png";
---

<a
  href="https://oxbowui.com/"
  class="lg:row-span-2 flex flex-col justify-between group duration-300 h-full lg:row-start-2 flex flex-col justify-between lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 2xl:p-12 bg-zinc-100 dark:bg-zinc-900 shadow-xl dark:shadow-dark ">
  <div>
    <p class="text-xl font-medium text-zinc-950 dark:text-zinc-100 lg:text-6xl">
      Oxbow UI
    </p>
    <p class="text-xl text-zinc-500 dark:text-zinc-300 2xl:text-3xl mt-6">
      Design & development subscriptions for startups.
      <br />
      <br />
      Monomod streamlines the design process with a fixed monthly rate and limitless
      design requests. Say goodbye to phone calls and extensive contracts; reach
      out to Monomod directly at any time. Embrace flexibility, pause or terminate
      your subscription whenever you need.
    </p>
  </div>
  <Image
    src={Oxbow}
    alt="#_"
    class="rounded-2xl mt-8 duration-300 bg-zinc-950/5 dark:bg-zinc-950 object-cover object-left"
  />
</a>
