<div
  class=" flex flex-col justify-center items-center rounded-3xl shadow-xl dark:shadow-dark  p-8 2xl:p-12 bg-zinc-100 dark:bg-zinc-900 overflow-hidden text-center">
  <div>
    <p
      class="text-3xl mt-6 2xl:text-7xl text-balance font-semibold lg:text-4xl text-zinc-950 dark:text-zinc-100">
      Descarga mi CV
    </p>
    <p
      class="text-xl text-zinc-500 dark:text-zinc-300 2xl:text-3xl mt-6 md:max-w-xs lg:max-w-none">
     Explora mi trayectoria profesional
    </p>
  </div>
  <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
    <button 
      type="button"
      class="text-sm 2xl:text-lg py-2 w-full px-4 h-12 2xl:h-16 font-semibold focus:ring-2 rounded-lg bg-zinc-950 dark:bg-zinc-100 dark:text-zinc-950 dark:hover:text-zinc-100 hover:text-zinc-950 dark:hover:bg-zinc-100/5 hover:bg-zinc-950/10 text-zinc-100 flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-center">
     <a href="https://www.dropbox.com/scl/fi/06bj8s4mjdgsefor9014w/Sergio-Villanueva-UX.pdf?rlkey=jxammsgut3o1v0o4xq9dq57ow&st=98cbvqe3&dl=1"> Descargar mi CV</a>
    </button>
  </div>
</div>
