---
import Intro from "@/components/landing/Intro.astro";
import Socials from "@/components/landing/Socials.astro";
import Resume from "@/components/landing/Resume.astro";
import ProjectOne from "@/components/landing/ProjectOne.astro";
import ProjectTwo from "@/components/landing/ProjectTwo.astro";
import FigmaCta from "@/components/landing/FigmaCta.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
import Outro from "@/components/landing/Outro.astro";
import Newsletter from "@/components/landing/Newsletter.astro";
---

<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-4 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4">
      <!----
    // Keep the cards in this order to avoid breaking the layout.
    //
    // To adjust the card order, modify the layout within the component itself.
    ---->
      <Intro />
      <Socials />
      <!-- <ProjectTwo /> -->
      <Resume />
      <FigmaCta />
      <!-- <ProjectOne /> -->
      <!-- <Newsletter /> -->
      <!-- <Testimonials /> -->
      <!-- <Outro /> -->
    </div>
  </div>
</section>
